function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 1
push argument 0
pop this 2
push this 2
push constant 0
lt
not
if-goto END_IF121
push constant 14
call Sys.error 1
pop temp 0
push pointer 0
return
label END_IF121
push this 2
push constant 0
eq
not
not
if-goto END_IF122
push this 2
call Memory.alloc 1
pop this 0
label END_IF122
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
not
not
if-goto END_IF123
push this 0
call Memory.deAlloc 1
pop temp 0
label END_IF123
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 1
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
lt
not
not
if-goto END_IF124
push constant 15
call Sys.error 1
pop temp 0
push constant 0
return
label END_IF124
push this 0
push argument 1
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
lt
not
not
if-goto END_IF125
push constant 16
call Sys.error 1
pop temp 0
push constant 0
return
label END_IF125
push argument 2
push this 0
push argument 1
add
pop pointer 1
pop that 0
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 1
push this 2
lt
not
not
if-goto END_IF126
push constant 17
call Sys.error 1
pop temp 0
push pointer 0
return
label END_IF126
push argument 1
push this 0
push this 1
add
pop pointer 1
pop that 0
push this 1
push constant 1
add
pop this 1
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
not
not
if-goto END_IF127
push constant 18
call Sys.error 1
pop temp 0
push constant 0
return
label END_IF127
push this 1
push constant 1
sub
pop this 1
push constant 0
return
function String.intValue 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 0
push constant 0
add
pop pointer 1
push that 0
push constant 45
eq
not
if-goto END_IF128
push constant 1
neg
pop local 2
push constant 1
pop local 0
label END_IF128
push constant 0
pop local 1
label WHILE52
push local 0
push this 1
lt
not
if-goto END_WHILE52
push local 1
push constant 10
call Math.multiply 2
push this 0
push local 0
add
pop pointer 1
push that 0
push constant 48
sub
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE52
label END_WHILE52
push local 2
not
if-goto END_IF129
push local 1
neg
return
label END_IF129
push local 1
return
function String.setInt 3
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
not
if-goto END_IF130
push constant 48
push this 0
push constant 0
add
pop pointer 1
pop that 0
push constant 1
pop this 1
push constant 0
return
label END_IF130
push argument 1
push constant 0
lt
push argument 1
neg
push constant 0
lt
and
not
if-goto END_IF131
push constant 45
push this 0
push constant 0
add
pop pointer 1
pop that 0
push constant 51
push this 0
push constant 1
add
pop pointer 1
pop that 0
push constant 50
push this 0
push constant 2
add
pop pointer 1
pop that 0
push constant 55
push this 0
push constant 3
add
pop pointer 1
pop that 0
push constant 54
push this 0
push constant 4
add
pop pointer 1
pop that 0
push constant 56
push this 0
push constant 5
add
pop pointer 1
pop that 0
push constant 6
pop this 1
push constant 0
return
label END_IF131
push constant 0
pop this 1
push constant 0
pop local 0
push argument 1
push constant 0
lt
not
if-goto END_IF132
push constant 45
push this 0
push constant 0
add
pop pointer 1
pop that 0
push argument 1
neg
pop argument 1
push constant 1
pop local 0
push constant 1
pop this 1
label END_IF132
label WHILE53
push argument 1
push constant 0
eq
not
not
if-goto END_WHILE53
push argument 1
push constant 10
call Math.divide 2
pop local 2
push argument 1
push local 2
push constant 10
call Math.multiply 2
sub
push constant 48
add
push this 0
push this 1
add
pop pointer 1
pop that 0
push local 2
pop argument 1
push this 1
push constant 1
add
pop this 1
goto WHILE53
label END_WHILE53
push this 1
push constant 1
sub
pop local 1
label WHILE54
push local 0
push local 1
lt
not
if-goto END_WHILE54
push this 0
push local 0
add
pop pointer 1
push that 0
pop local 2
push this 0
push local 1
add
pop pointer 1
push that 0
push this 0
push local 0
add
pop pointer 1
pop that 0
push local 2
push this 0
push local 1
add
pop pointer 1
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
sub
pop local 1
goto WHILE54
label END_WHILE54
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
