function Main.main 1
push constant 1
pop local 0
label WHILE0
push local 0
push constant 20
gt
not
not
if-goto END_WHILE0
push local 0
call Output.printInt 1
pop temp 0
push constant 4
call String.new 1
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 61
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call Main.factorial 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE0
label END_WHILE0
push constant 0
return
function Main.factorial 0
push argument 0
push constant 0
eq
push argument 0
push constant 1
eq
or
not
if-goto END_IF0
push constant 1
return
label END_IF0
push argument 0
push argument 0
push constant 1
sub
call Main.factorial 1
call Math.multiply 2
return
