function Bullet.init 0
call Album.get_bullet 0
pop static 0
push constant 0
return
function Bullet.set_map 0
push argument 0
pop static 1
push constant 0
return
function Bullet.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Bullet.move 2
push argument 0
pop pointer 0
push static 1
push this 0
push this 1
call Map.peek 3
pop local 0
push local 0
push constant 1
eq
push local 0
push constant 2
eq
or
not
not
if-goto END_IF14
push this 0
push constant 8
call Math.multiply 2
push this 1
push constant 8
call Math.multiply 2
push this 0
push constant 8
call Math.multiply 2
push constant 7
add
push this 1
push constant 8
call Math.multiply 2
push constant 7
add
call Image.clear 4
pop temp 0
label END_IF14
push constant 0
pop local 1
push this 2
push constant 0
eq
push this 1
push constant 1
sub
push constant 1
neg
gt
and
not
if-goto ELSE15
push this 1
push constant 1
sub
pop this 1
push constant 1
neg
pop local 1
goto END_IF15
label ELSE15
push this 2
push constant 1
eq
push this 0
push constant 1
add
push constant 45
lt
and
not
if-goto ELSE16
push this 0
push constant 1
add
pop this 0
push constant 1
neg
pop local 1
goto END_IF16
label ELSE16
push this 2
push constant 2
eq
push this 1
push constant 1
add
push constant 30
lt
and
not
if-goto ELSE17
push this 1
push constant 1
add
pop this 1
push constant 1
neg
pop local 1
goto END_IF17
label ELSE17
push this 2
push constant 3
eq
push this 0
push constant 1
sub
push constant 1
neg
gt
and
not
if-goto END_IF18
push this 0
push constant 1
sub
pop this 0
push constant 1
neg
pop local 1
label END_IF18
label END_IF17
label END_IF16
label END_IF15
push local 1
not
if-goto END_IF19
push static 1
push this 0
push this 1
call Map.peek 3
pop local 0
push local 0
push constant 0
eq
not
if-goto END_IF20
push static 0
push this 0
push constant 8
call Math.multiply 2
push this 1
push constant 8
call Math.multiply 2
push this 2
call Image.draw 4
pop temp 0
push constant 1
neg
return
label END_IF20
push local 0
push constant 1
eq
push local 0
push constant 2
eq
or
not
if-goto END_IF21
push this 0
push this 1
call Game.attack_tank 2
pop temp 0
label END_IF21
push local 0
push constant 3
eq
not
if-goto END_IF22
push static 1
push this 0
push this 1
push this 0
push this 1
push constant 0
call Map.update 6
pop temp 0
label END_IF22
push local 0
push constant 5
eq
not
if-goto END_IF23
push constant 21
push constant 27
call Bomb.new 2
call Game.add_bomb 1
pop temp 0
call Game.over 0
pop temp 0
label END_IF23
push local 0
push constant 4
eq
not
push this 3
push constant 1
eq
and
call Cheat.get_penetrate 0
push constant 1
neg
eq
and
not
if-goto END_IF24
push constant 1
neg
return
label END_IF24
label END_IF19
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
