function Cheat.init 0
push constant 0
pop static 0
push constant 0
pop static 1
push constant 0
pop static 2
push constant 0
pop static 3
push constant 0
pop static 4
push constant 0
pop static 5
push constant 0
return
function Cheat.get_penetrate 0
push static 0
return
function Cheat.get_seperate 0
push static 1
return
function Cheat.get_triple 0
push static 2
return
function Cheat.get_nocd 0
push static 3
return
function Cheat.get_all_soft 0
push static 4
return
function Cheat.get_imba 0
push static 5
return
function Cheat.set_penetrate 1
call Album.get_penetrate 0
pop local 0
push local 0
push constant 0
push constant 0
push constant 0
call Image.draw 4
pop temp 0
push constant 1
neg
pop static 0
push constant 0
return
function Cheat.set_seperate 1
call Album.get_seperate 0
pop local 0
push local 0
push constant 30
push constant 0
push constant 0
call Image.draw 4
pop temp 0
push constant 1
neg
pop static 1
push constant 0
return
function Cheat.set_triple 1
call Album.get_triple 0
pop local 0
push local 0
push constant 60
push constant 0
push constant 0
call Image.draw 4
pop temp 0
push constant 1
neg
pop static 2
push constant 0
return
function Cheat.set_nocd 1
call Album.get_nocd 0
pop local 0
push local 0
push constant 90
push constant 0
push constant 0
call Image.draw 4
pop temp 0
push constant 1
neg
pop static 3
push constant 0
return
function Cheat.set_all_soft 1
call Album.get_all_soft 0
pop local 0
push local 0
push constant 120
push constant 0
push constant 0
call Image.draw 4
pop temp 0
push constant 1
neg
pop static 4
push constant 0
return
function Cheat.set_imba 1
call Album.get_imba 0
pop local 0
push local 0
push constant 150
push constant 0
push constant 0
call Image.draw 4
pop temp 0
push constant 1
neg
pop static 5
push constant 0
return
