function Game.init 0
call Tank.init 0
pop temp 0
call Bullet.init 0
pop temp 0
call Bomb.init 0
pop temp 0
call Statement.init 0
pop temp 0
push constant 71
push constant 22
call Rand.reset 2
pop temp 0
push constant 12
push constant 8
call Image.set_origin 2
pop temp 0
push constant 5
pop static 9
push constant 0
pop static 10
push constant 0
return
function Game.ready 2
push argument 0
call Book.get_map 1
pop static 0
push static 0
call Map.get_tank_list 1
pop static 2
call List.new 0
pop static 1
call List.new 0
pop static 3
call List.new 0
pop static 4
push constant 0
pop static 6
push constant 0
pop static 7
push static 0
call Tank.set_map 1
pop temp 0
push static 0
call Bullet.set_map 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
call Statement.draw_frame 0
pop temp 0
call Statement.display 0
pop temp 0
push static 0
call Map.draw 1
pop temp 0
push static 2
call List.reset 1
pop temp 0
label WHILE0
push static 2
call List.end 1
not
not
if-goto END_WHILE0
push static 2
call List.get 1
pop local 1
push local 1
call Tank.get_type 1
push constant 1
eq
not
if-goto ELSE0
push local 1
push static 9
call Tank.set_live 2
pop temp 0
push local 1
call Player.new 1
pop static 5
goto END_IF0
label ELSE0
push static 7
push constant 1
add
pop static 7
push local 1
call AI.new 1
pop local 0
push static 3
push local 0
call List.insert 2
pop temp 0
label END_IF0
push static 2
call List.next 1
pop temp 0
goto WHILE0
label END_WHILE0
push static 7
pop static 8
push static 9
push static 7
push static 10
call Statement.update 3
pop temp 0
push constant 0
return
function Game.run 4
label WHILE1
push static 6
push constant 0
eq
not
if-goto END_WHILE1
push static 5
call Player.play 1
pop temp 0
push static 3
call List.reset 1
pop temp 0
label WHILE2
push static 3
call List.end 1
not
not
if-goto END_WHILE2
push static 3
call List.get 1
pop local 0
push local 0
call AI.play 1
pop temp 0
push static 3
call List.next 1
pop temp 0
goto WHILE2
label END_WHILE2
push constant 0
pop local 3
label WHILE3
push local 3
push constant 2
lt
not
if-goto END_WHILE3
push static 1
call List.reset 1
pop temp 0
label WHILE4
push static 1
call List.end 1
not
not
if-goto END_WHILE4
push static 1
call List.get 1
pop local 1
push local 1
call Bullet.move 1
not
not
if-goto ELSE1
push static 1
call List.delete 1
pop temp 0
goto END_IF1
label ELSE1
push static 1
call List.next 1
pop temp 0
label END_IF1
goto WHILE4
label END_WHILE4
push local 3
push constant 1
add
pop local 3
goto WHILE3
label END_WHILE3
push static 4
call List.reset 1
pop temp 0
label WHILE5
push static 4
call List.end 1
not
not
if-goto END_WHILE5
push static 4
call List.get 1
pop local 2
push local 2
call Bomb.explode 1
not
not
if-goto ELSE2
push static 4
call List.delete 1
pop temp 0
goto END_IF2
label ELSE2
push static 4
call List.next 1
pop temp 0
label END_IF2
goto WHILE5
label END_WHILE5
call Keyboard.keyPressed 0
push constant 81
eq
not
if-goto END_IF3
push constant 2
return
label END_IF3
goto WHILE1
label END_WHILE1
push constant 1
neg
pop local 3
label WHILE6
push local 3
not
if-goto END_WHILE6
push static 4
call List.reset 1
pop temp 0
push static 4
call List.end 1
not
if-goto ELSE4
push constant 0
pop local 3
goto END_IF4
label ELSE4
label WHILE7
push static 4
call List.end 1
not
not
if-goto END_WHILE7
push static 4
call List.get 1
pop local 2
push local 2
call Bomb.explode 1
not
not
if-goto ELSE5
push static 4
call List.delete 1
pop temp 0
goto END_IF5
label ELSE5
push static 4
call List.next 1
pop temp 0
label END_IF5
goto WHILE7
label END_WHILE7
label END_IF4
push constant 100
call Sys.wait 1
pop temp 0
goto WHILE6
label END_WHILE6
push constant 300
call Sys.wait 1
pop temp 0
push static 6
return
function Game.close 4
push static 0
call Map.destroy 1
pop temp 0
push static 2
call List.reset 1
pop temp 0
label WHILE8
push static 2
call List.end 1
not
not
if-goto END_WHILE8
push static 2
call List.get 1
pop local 2
push static 2
call List.delete 1
pop temp 0
push local 2
call Memory.deAlloc 1
pop temp 0
goto WHILE8
label END_WHILE8
push static 2
call Memory.deAlloc 1
pop temp 0
push static 3
call List.reset 1
pop temp 0
label WHILE9
push static 3
call List.end 1
not
not
if-goto END_WHILE9
push static 3
call List.get 1
pop local 0
push static 3
call List.delete 1
pop temp 0
push local 0
call Memory.deAlloc 1
pop temp 0
goto WHILE9
label END_WHILE9
push static 3
call Memory.deAlloc 1
pop temp 0
push static 1
call List.reset 1
pop temp 0
label WHILE10
push static 1
call List.end 1
not
not
if-goto END_WHILE10
push static 1
call List.get 1
pop local 1
push static 1
call List.delete 1
pop temp 0
push local 1
call Memory.deAlloc 1
pop temp 0
goto WHILE10
label END_WHILE10
push static 1
call Memory.deAlloc 1
pop temp 0
push static 4
call List.reset 1
pop temp 0
label WHILE11
push static 4
call List.end 1
not
not
if-goto END_WHILE11
push static 4
call List.get 1
pop local 3
push static 4
call List.delete 1
pop temp 0
push local 3
call Memory.deAlloc 1
pop temp 0
goto WHILE11
label END_WHILE11
push static 4
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.add_bullet 0
push static 1
push argument 0
call List.insert 2
pop temp 0
push constant 0
return
function Game.add_bomb 0
push static 4
push argument 0
call List.insert 2
pop temp 0
push constant 0
return
function Game.over 0
push constant 1
neg
pop static 6
push constant 0
return
function Game.attack_tank 3
push static 2
call List.reset 1
pop temp 0
label WHILE12
push static 2
call List.end 1
not
not
if-goto END_WHILE12
push static 2
call List.get 1
pop local 0
push local 0
push argument 0
push argument 1
call Tank.attacked 3
pop local 2
push local 0
call Tank.get_type 1
pop local 1
push local 1
push constant 1
eq
not
if-goto ELSE6
push local 2
push constant 2
eq
not
if-goto ELSE7
call Game.over 0
pop temp 0
goto END_IF7
label ELSE7
push local 2
push constant 1
eq
not
if-goto END_IF8
call Cheat.get_imba 0
not
not
if-goto END_IF9
push static 9
push constant 1
sub
pop static 9
label END_IF9
label END_IF8
label END_IF7
goto END_IF6
label ELSE6
push local 2
push constant 2
eq
not
if-goto ELSE10
push static 7
push constant 1
sub
pop static 7
push static 10
push constant 600
add
pop static 10
push static 7
push constant 0
eq
not
if-goto END_IF11
push constant 1
pop static 6
label END_IF11
goto END_IF10
label ELSE10
push local 2
push constant 1
eq
not
if-goto END_IF12
push static 10
push constant 100
add
pop static 10
label END_IF12
label END_IF10
label END_IF6
push static 2
call List.next 1
pop temp 0
goto WHILE12
label END_WHILE12
push static 9
push static 7
push static 10
call Statement.update 3
pop temp 0
push constant 0
return
