function Game.init 0
call Tank.init 0
pop temp 0
call Bullet.init 0
pop temp 0
call Bomb.init 0
pop temp 0
call Statement.init 0
pop temp 0
push constant 71
push constant 22
call Rand.reset 2
pop temp 0
push constant 12
push constant 8
call Image.set_origin 2
pop temp 0
push constant 5
pop static 9
push constant 0
pop static 10
push constant 0
return
function Game.ready 2
push argument 0
call Book.get_map 1
pop static 0
push static 0
call Map.get_tank_list 1
pop static 2
call List.new 0
pop static 1
call List.new 0
pop static 3
call List.new 0
pop static 4
push constant 0
pop static 6
push constant 0
pop static 7
push static 0
call Tank.set_map 1
pop temp 0
push static 0
call Bullet.set_map 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
call Statement.draw_frame 0
pop temp 0
call Statement.display 0
pop temp 0
push static 0
call Map.draw 1
pop temp 0
push static 2
call List.reset 1
pop temp 0
label WHILE22
push static 2
call List.end 1
not
not
if-goto END_WHILE22
push static 2
call List.get 1
pop local 1
push local 1
call Tank.get_type 1
push constant 1
eq
not
if-goto ELSE48
push local 1
push static 9
call Tank.set_live 2
pop temp 0
push local 1
call Player.new 1
pop static 5
goto END_IF48
label ELSE48
push static 7
push constant 1
add
pop static 7
push local 1
call AI.new 1
pop local 0
push static 3
push local 0
call List.insert 2
pop temp 0
label END_IF48
push static 2
call List.next 1
pop temp 0
goto WHILE22
label END_WHILE22
push static 7
pop static 8
push static 9
push static 7
push static 10
call Statement.update 3
pop temp 0
push constant 0
return
function Game.run 4
label WHILE23
push static 6
push constant 0
eq
not
if-goto END_WHILE23
push static 5
call Player.play 1
pop temp 0
push static 3
call List.reset 1
pop temp 0
label WHILE24
push static 3
call List.end 1
not
not
if-goto END_WHILE24
push static 3
call List.get 1
pop local 0
push local 0
call AI.play 1
pop temp 0
push static 3
call List.next 1
pop temp 0
goto WHILE24
label END_WHILE24
push constant 0
pop local 3
label WHILE25
push local 3
push constant 2
lt
not
if-goto END_WHILE25
push static 1
call List.reset 1
pop temp 0
label WHILE26
push static 1
call List.end 1
not
not
if-goto END_WHILE26
push static 1
call List.get 1
pop local 1
push local 1
call Bullet.move 1
not
not
if-goto ELSE49
push static 1
call List.delete 1
pop temp 0
goto END_IF49
label ELSE49
push static 1
call List.next 1
pop temp 0
label END_IF49
goto WHILE26
label END_WHILE26
push local 3
push constant 1
add
pop local 3
goto WHILE25
label END_WHILE25
push static 4
call List.reset 1
pop temp 0
label WHILE27
push static 4
call List.end 1
not
not
if-goto END_WHILE27
push static 4
call List.get 1
pop local 2
push local 2
call Bomb.explode 1
not
not
if-goto ELSE50
push static 4
call List.delete 1
pop temp 0
goto END_IF50
label ELSE50
push static 4
call List.next 1
pop temp 0
label END_IF50
goto WHILE27
label END_WHILE27
call Keyboard.keyPressed 0
push constant 81
eq
not
if-goto END_IF51
push constant 2
return
label END_IF51
goto WHILE23
label END_WHILE23
push constant 1
neg
pop local 3
label WHILE28
push local 3
not
if-goto END_WHILE28
push static 4
call List.reset 1
pop temp 0
push static 4
call List.end 1
not
if-goto ELSE52
push constant 0
pop local 3
goto END_IF52
label ELSE52
label WHILE29
push static 4
call List.end 1
not
not
if-goto END_WHILE29
push static 4
call List.get 1
pop local 2
push local 2
call Bomb.explode 1
not
not
if-goto ELSE53
push static 4
call List.delete 1
pop temp 0
goto END_IF53
label ELSE53
push static 4
call List.next 1
pop temp 0
label END_IF53
goto WHILE29
label END_WHILE29
label END_IF52
push constant 100
call Sys.wait 1
pop temp 0
goto WHILE28
label END_WHILE28
push constant 300
call Sys.wait 1
pop temp 0
push static 6
return
function Game.close 4
push static 0
call Map.destroy 1
pop temp 0
push static 2
call List.reset 1
pop temp 0
label WHILE30
push static 2
call List.end 1
not
not
if-goto END_WHILE30
push static 2
call List.get 1
pop local 2
push static 2
call List.delete 1
pop temp 0
push local 2
call Memory.deAlloc 1
pop temp 0
goto WHILE30
label END_WHILE30
push static 2
call Memory.deAlloc 1
pop temp 0
push static 3
call List.reset 1
pop temp 0
label WHILE31
push static 3
call List.end 1
not
not
if-goto END_WHILE31
push static 3
call List.get 1
pop local 0
push static 3
call List.delete 1
pop temp 0
push local 0
call Memory.deAlloc 1
pop temp 0
goto WHILE31
label END_WHILE31
push static 3
call Memory.deAlloc 1
pop temp 0
push static 1
call List.reset 1
pop temp 0
label WHILE32
push static 1
call List.end 1
not
not
if-goto END_WHILE32
push static 1
call List.get 1
pop local 1
push static 1
call List.delete 1
pop temp 0
push local 1
call Memory.deAlloc 1
pop temp 0
goto WHILE32
label END_WHILE32
push static 1
call Memory.deAlloc 1
pop temp 0
push static 4
call List.reset 1
pop temp 0
label WHILE33
push static 4
call List.end 1
not
not
if-goto END_WHILE33
push static 4
call List.get 1
pop local 3
push static 4
call List.delete 1
pop temp 0
push local 3
call Memory.deAlloc 1
pop temp 0
goto WHILE33
label END_WHILE33
push static 4
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.add_bullet 0
push static 1
push argument 0
call List.insert 2
pop temp 0
push constant 0
return
function Game.add_bomb 0
push static 4
push argument 0
call List.insert 2
pop temp 0
push constant 0
return
function Game.over 0
push constant 1
neg
pop static 6
push constant 0
return
function Game.attack_tank 3
push static 2
call List.reset 1
pop temp 0
label WHILE34
push static 2
call List.end 1
not
not
if-goto END_WHILE34
push static 2
call List.get 1
pop local 0
push local 0
push argument 0
push argument 1
call Tank.attacked 3
pop local 2
push local 0
call Tank.get_type 1
pop local 1
push local 1
push constant 1
eq
not
if-goto ELSE54
push local 2
push constant 2
eq
not
if-goto ELSE55
call Game.over 0
pop temp 0
goto END_IF55
label ELSE55
push local 2
push constant 1
eq
not
if-goto END_IF56
call Cheat.get_imba 0
not
not
if-goto END_IF57
push static 9
push constant 1
sub
pop static 9
label END_IF57
label END_IF56
label END_IF55
goto END_IF54
label ELSE54
push local 2
push constant 2
eq
not
if-goto ELSE58
push static 7
push constant 1
sub
pop static 7
push static 10
push constant 600
add
pop static 10
push static 7
push constant 0
eq
not
if-goto END_IF59
push constant 1
pop static 6
label END_IF59
goto END_IF58
label ELSE58
push local 2
push constant 1
eq
not
if-goto END_IF60
push static 10
push constant 100
add
pop static 10
label END_IF60
label END_IF58
label END_IF54
push static 2
call List.next 1
pop temp 0
goto WHILE34
label END_WHILE34
push static 9
push static 7
push static 10
call Statement.update 3
pop temp 0
push constant 0
return
