function Main.main 8
call Author.init 0
pop temp 0
call Album.init 0
pop temp 0
call Cheat.init 0
pop temp 0
call Map_maker.init 0
pop temp 0
push constant 4
call Array.new 1
pop local 5
push constant 5
call String.new 1
push constant 83
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push local 5
push constant 0
add
pop pointer 1
pop that 0
push constant 5
call String.new 1
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push local 5
push constant 1
add
pop pointer 1
pop that 0
push constant 7
call String.new 1
push constant 65
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 115
call String.appendChar 2
push local 5
push constant 2
add
pop pointer 1
pop that 0
push constant 4
call String.new 1
push constant 69
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push local 5
push constant 3
add
pop pointer 1
pop that 0
push constant 15
push constant 30
push constant 4
push local 5
push constant 1
neg
call Menu.new 5
pop local 3
push local 3
push constant 4
call String.new 1
push constant 67
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
call Menu.add_cheat 2
pop temp 0
push local 3
push constant 4
call String.new 1
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 65
call String.appendChar 2
call Menu.add_cheat 2
pop temp 0
push local 3
push constant 4
call String.new 1
push constant 83
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 84
call String.appendChar 2
call Menu.add_cheat 2
pop temp 0
push local 3
push constant 4
call String.new 1
push constant 78
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 68
call String.appendChar 2
call Menu.add_cheat 2
pop temp 0
push local 3
push constant 5
call String.new 1
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
call Menu.add_cheat 2
pop temp 0
push local 3
push constant 4
call String.new 1
push constant 88
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 68
call String.appendChar 2
call Menu.add_cheat 2
pop temp 0
push local 3
push constant 4
call String.new 1
push constant 74
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
call Menu.add_cheat 2
pop temp 0
push constant 4
call Array.new 1
pop local 5
push constant 7
call String.new 1
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push local 5
push constant 0
add
pop pointer 1
pop that 0
push constant 7
call String.new 1
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push local 5
push constant 1
add
pop pointer 1
pop that 0
push constant 7
call String.new 1
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push local 5
push constant 2
add
pop pointer 1
pop that 0
push constant 7
call String.new 1
push constant 68
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 112
call String.appendChar 2
push local 5
push constant 3
add
pop pointer 1
pop that 0
push constant 15
push constant 29
push constant 4
push local 5
push constant 1
neg
call Menu.new 5
pop local 4
call Album.get_board 0
pop local 6
call Album.get_board_qb 0
pop local 7
call Screen.clearScreen 0
pop temp 0
push local 6
push constant 16
push constant 8
call Scalable.draw 3
pop temp 0
push local 7
push constant 320
push constant 130
call Scalable.draw 3
pop temp 0
label WHILE16
push local 0
push constant 3
eq
not
not
if-goto END_WHILE16
push constant 1
pop local 1
push local 3
call Menu.run 1
pop local 0
push local 0
push constant 0
eq
push local 0
push constant 1
eq
or
not
if-goto END_IF53
call Game.init 0
pop temp 0
push local 0
push constant 0
eq
not
if-goto ELSE54
push constant 1
pop local 2
goto END_IF54
label ELSE54
push local 4
call Menu.run 1
push constant 1
add
pop local 2
label END_IF54
push local 2
push constant 4
eq
not
if-goto ELSE55
push constant 100
call Game.ready 1
pop temp 0
call Game.run 0
pop local 1
call Game.close 0
pop temp 0
call Cheat.init 0
pop temp 0
call Screen.clearScreen 0
pop temp 0
push local 6
push constant 16
push constant 8
call Scalable.draw 3
pop temp 0
push local 7
push constant 320
push constant 130
call Scalable.draw 3
pop temp 0
goto END_IF55
label ELSE55
push local 2
push constant 0
eq
not
not
if-goto END_IF56
label WHILE17
push local 1
push constant 1
eq
push local 2
push constant 4
lt
and
not
if-goto END_WHILE17
call Screen.clearScreen 0
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push local 5
push local 2
push constant 1
sub
add
pop pointer 1
push that 0
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push local 2
call Game.ready 1
pop temp 0
call Game.run 0
pop local 1
call Game.close 0
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE17
label END_WHILE17
call Cheat.init 0
pop temp 0
push local 1
push constant 1
eq
not
if-goto END_IF57
push constant 4
call Game.ready 1
pop temp 0
call Game.run 0
pop local 1
call Game.close 0
pop temp 0
label END_IF57
push local 1
push constant 1
neg
eq
not
if-goto END_IF58
push constant 5
call Game.ready 1
pop temp 0
call Game.run 0
pop local 1
call Game.close 0
pop temp 0
label END_IF58
call Screen.clearScreen 0
pop temp 0
push local 6
push constant 16
push constant 8
call Scalable.draw 3
pop temp 0
push local 7
push constant 320
push constant 130
call Scalable.draw 3
pop temp 0
label END_IF56
label END_IF55
label END_IF53
push local 0
push constant 2
eq
not
if-goto END_IF59
call Cheat.init 0
pop temp 0
call Author.draw 0
pop temp 0
call Keyboard.readChar 0
pop temp 0
call Screen.clearScreen 0
pop temp 0
push local 6
push constant 16
push constant 8
call Scalable.draw 3
pop temp 0
push local 7
push constant 320
push constant 130
call Scalable.draw 3
pop temp 0
label END_IF59
push local 0
push constant 4
eq
not
if-goto END_IF60
call Cheat.set_penetrate 0
pop temp 0
label END_IF60
push local 0
push constant 5
eq
not
if-goto END_IF61
call Cheat.set_seperate 0
pop temp 0
label END_IF61
push local 0
push constant 6
eq
not
if-goto END_IF62
call Cheat.set_triple 0
pop temp 0
label END_IF62
push local 0
push constant 7
eq
not
if-goto END_IF63
call Cheat.set_nocd 0
pop temp 0
label END_IF63
push local 0
push constant 8
eq
not
if-goto END_IF64
call Cheat.set_all_soft 0
pop temp 0
label END_IF64
push local 0
push constant 9
eq
not
if-goto END_IF65
call Cheat.set_imba 0
pop temp 0
label END_IF65
push local 0
push constant 10
eq
not
if-goto END_IF66
call Cheat.set_penetrate 0
pop temp 0
call Cheat.set_seperate 0
pop temp 0
call Cheat.set_triple 0
pop temp 0
call Cheat.set_nocd 0
pop temp 0
call Cheat.set_all_soft 0
pop temp 0
call Cheat.set_imba 0
pop temp 0
label END_IF66
goto WHILE16
label END_WHILE16
push constant 0
return
