function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Player.play 1
push argument 0
pop pointer 0
push this 0
call Tank.dead 1
not
not
if-goto END_IF94
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 131
eq
not
if-goto ELSE95
push this 0
push constant 0
call Tank.move 2
pop temp 0
goto END_IF95
label ELSE95
push local 0
push constant 132
eq
not
if-goto ELSE96
push this 0
push constant 1
call Tank.move 2
pop temp 0
goto END_IF96
label ELSE96
push local 0
push constant 133
eq
not
if-goto ELSE97
push this 0
push constant 2
call Tank.move 2
pop temp 0
goto END_IF97
label ELSE97
push local 0
push constant 130
eq
not
if-goto ELSE98
push this 0
push constant 3
call Tank.move 2
pop temp 0
goto END_IF98
label ELSE98
push local 0
push constant 0
eq
not
if-goto ELSE99
push constant 0
pop this 1
goto END_IF99
label ELSE99
push local 0
push constant 32
eq
push this 1
not
and
not
if-goto END_IF100
call Cheat.get_nocd 0
not
not
if-goto END_IF101
push constant 1
neg
pop this 1
label END_IF101
call Cheat.get_seperate 0
push constant 1
neg
eq
not
if-goto ELSE102
push this 0
push constant 0
call Tank.shoot 2
pop temp 0
push this 0
push constant 1
call Tank.shoot 2
pop temp 0
push this 0
push constant 2
call Tank.shoot 2
pop temp 0
push this 0
push constant 3
call Tank.shoot 2
pop temp 0
goto END_IF102
label ELSE102
push this 0
push this 0
call Tank.get_dir 1
call Tank.shoot 2
pop temp 0
label END_IF102
label END_IF100
label END_IF99
label END_IF98
label END_IF97
label END_IF96
label END_IF95
label END_IF94
push constant 0
return
