function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Player.play 1
push argument 0
pop pointer 0
push this 0
call Tank.dead 1
not
not
if-goto END_IF0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 131
eq
not
if-goto ELSE1
push this 0
push constant 0
call Tank.move 2
pop temp 0
goto END_IF1
label ELSE1
push local 0
push constant 132
eq
not
if-goto ELSE2
push this 0
push constant 1
call Tank.move 2
pop temp 0
goto END_IF2
label ELSE2
push local 0
push constant 133
eq
not
if-goto ELSE3
push this 0
push constant 2
call Tank.move 2
pop temp 0
goto END_IF3
label ELSE3
push local 0
push constant 130
eq
not
if-goto ELSE4
push this 0
push constant 3
call Tank.move 2
pop temp 0
goto END_IF4
label ELSE4
push local 0
push constant 0
eq
not
if-goto ELSE5
push constant 0
pop this 1
goto END_IF5
label ELSE5
push local 0
push constant 32
eq
push this 1
not
and
not
if-goto END_IF6
call Cheat.get_nocd 0
not
not
if-goto END_IF7
push constant 1
neg
pop this 1
label END_IF7
call Cheat.get_seperate 0
push constant 1
neg
eq
not
if-goto ELSE8
push this 0
push constant 0
call Tank.shoot 2
pop temp 0
push this 0
push constant 1
call Tank.shoot 2
pop temp 0
push this 0
push constant 2
call Tank.shoot 2
pop temp 0
push this 0
push constant 3
call Tank.shoot 2
pop temp 0
goto END_IF8
label ELSE8
push this 0
push this 0
call Tank.get_dir 1
call Tank.shoot 2
pop temp 0
label END_IF8
label END_IF6
label END_IF5
label END_IF4
label END_IF3
label END_IF2
label END_IF1
label END_IF0
push constant 0
return
