function Book.get_map 1
push constant 150
call Array.new 1
pop local 0
push argument 0
push constant 1
eq
not
if-goto ELSE0
push constant 1
push local 0
push constant 0
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 1
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 2
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 3
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 4
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 5
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 6
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 7
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 8
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 9
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 10
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 11
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 12
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 13
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 14
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 15
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 16
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 17
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 18
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 19
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 20
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 21
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 22
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 23
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 24
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 25
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 26
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 27
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 28
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 29
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 30
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 31
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 32
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 33
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 34
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 35
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 36
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 37
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 38
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 39
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 40
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 41
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 42
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 43
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 44
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 45
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 46
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 47
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 48
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 49
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 50
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 51
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 52
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 53
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 54
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 55
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 56
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 57
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 58
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 59
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 60
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 61
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 62
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 63
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 64
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 65
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 66
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 67
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 68
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 69
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 70
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 71
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 72
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 73
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 74
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 75
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 76
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 77
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 78
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 79
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 80
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 81
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 82
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 83
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 84
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 85
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 86
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 87
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 88
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 89
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 90
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 91
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 92
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 93
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 94
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 95
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 96
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 97
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 98
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 99
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 100
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 101
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 102
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 103
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 104
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 105
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 106
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 107
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 108
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 109
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 110
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 111
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 112
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 113
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 114
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 115
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 116
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 117
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 118
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 119
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 120
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 121
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 122
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 123
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 124
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 125
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 126
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 127
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 128
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 129
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 130
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 131
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 132
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 133
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 134
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 135
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 136
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 137
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 138
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 139
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 140
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 141
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 142
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 143
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 144
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 145
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 146
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 147
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 148
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 149
add
pop pointer 1
pop that 0
goto END_IF0
label ELSE0
push argument 0
push constant 2
eq
not
if-goto ELSE1
push constant 1
push local 0
push constant 0
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 1
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 2
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 3
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 4
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 5
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 6
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 7
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 8
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 9
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 10
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 11
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 12
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 13
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 14
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 15
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 16
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 17
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 18
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 19
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 20
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 21
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 22
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 23
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 24
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 25
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 26
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 27
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 28
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 29
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 30
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 31
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 32
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 33
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 34
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 35
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 36
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 37
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 38
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 39
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 40
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 41
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 42
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 43
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 44
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 45
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 46
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 47
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 48
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 49
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 50
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 51
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 52
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 53
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 54
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 55
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 56
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 57
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 58
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 59
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 60
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 61
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 62
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 63
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 64
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 65
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 66
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 67
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 68
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 69
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 70
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 71
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 72
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 73
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 74
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 75
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 76
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 77
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 78
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 79
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 80
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 81
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 82
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 83
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 84
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 85
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 86
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 87
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 88
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 89
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 90
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 91
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 92
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 93
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 94
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 95
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 96
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 97
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 98
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 99
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 100
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 101
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 102
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 103
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 104
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 105
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 106
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 107
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 108
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 109
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 110
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 111
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 112
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 113
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 114
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 115
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 116
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 117
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 118
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 119
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 120
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 121
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 122
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 123
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 124
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 125
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 126
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 127
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 128
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 129
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 130
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 131
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 132
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 133
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 134
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 135
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 136
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 137
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 138
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 139
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 140
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 141
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 142
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 143
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 144
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 145
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 146
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 147
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 148
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 149
add
pop pointer 1
pop that 0
goto END_IF1
label ELSE1
push argument 0
push constant 3
eq
not
if-goto ELSE2
push constant 0
push local 0
push constant 0
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 1
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 2
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 3
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 4
add
pop pointer 1
pop that 0
push constant 1
push local 0
push constant 5
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 6
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 7
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 8
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 9
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 10
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 11
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 12
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 13
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 14
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 15
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 16
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 17
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 18
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 19
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 20
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 21
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 22
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 23
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 24
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 25
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 26
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 27
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 28
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 29
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 30
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 31
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 32
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 33
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 34
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 35
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 36
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 37
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 38
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 39
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 40
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 41
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 42
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 43
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 44
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 45
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 46
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 47
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 48
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 49
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 50
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 51
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 52
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 53
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 54
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 55
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 56
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 57
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 58
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 59
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 60
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 61
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 62
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 63
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 64
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 65
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 66
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 67
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 68
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 69
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 70
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 71
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 72
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 73
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 74
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 75
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 76
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 77
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 78
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 79
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 80
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 81
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 82
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 83
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 84
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 85
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 86
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 87
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 88
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 89
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 90
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 91
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 92
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 93
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 94
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 95
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 96
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 97
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 98
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 99
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 100
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 101
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 102
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 103
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 104
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 105
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 106
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 107
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 108
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 109
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 110
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 111
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 112
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 113
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 114
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 115
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 116
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 117
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 118
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 119
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 120
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 121
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 122
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 123
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 124
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 125
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 126
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 127
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 128
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 129
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 130
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 131
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 132
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 133
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 134
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 135
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 136
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 137
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 138
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 139
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 140
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 141
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 142
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 143
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 144
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 145
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 146
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 147
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 148
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 149
add
pop pointer 1
pop that 0
goto END_IF2
label ELSE2
push argument 0
push constant 4
eq
not
if-goto ELSE3
push constant 3
push local 0
push constant 0
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 1
add
pop pointer 1
pop that 0
push constant 1
push local 0
push constant 2
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 3
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 4
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 5
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 6
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 7
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 8
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 9
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 10
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 11
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 12
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 13
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 14
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 15
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 16
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 17
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 18
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 19
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 20
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 21
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 22
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 23
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 24
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 25
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 26
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 27
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 28
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 29
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 30
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 31
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 32
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 33
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 34
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 35
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 36
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 37
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 38
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 39
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 40
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 41
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 42
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 43
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 44
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 45
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 46
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 47
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 48
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 49
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 50
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 51
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 52
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 53
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 54
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 55
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 56
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 57
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 58
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 59
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 60
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 61
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 62
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 63
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 64
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 65
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 66
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 67
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 68
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 69
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 70
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 71
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 72
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 73
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 74
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 75
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 76
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 77
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 78
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 79
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 80
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 81
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 82
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 83
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 84
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 85
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 86
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 87
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 88
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 89
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 90
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 91
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 92
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 93
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 94
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 95
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 96
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 97
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 98
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 99
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 100
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 101
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 102
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 103
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 104
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 105
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 106
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 107
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 108
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 109
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 110
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 111
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 112
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 113
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 114
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 115
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 116
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 117
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 118
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 119
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 120
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 121
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 122
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 123
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 124
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 125
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 126
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 127
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 128
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 129
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 130
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 131
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 132
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 133
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 134
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 135
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 136
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 137
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 138
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 139
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 140
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 141
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 142
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 143
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 144
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 145
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 146
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 147
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 148
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 149
add
pop pointer 1
pop that 0
goto END_IF3
label ELSE3
push argument 0
push constant 5
eq
not
if-goto ELSE4
push constant 4
push local 0
push constant 0
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 1
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 2
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 3
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 4
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 5
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 6
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 7
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 8
add
pop pointer 1
pop that 0
push constant 1
push local 0
push constant 9
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 10
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 11
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 12
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 13
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 14
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 15
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 16
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 17
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 18
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 19
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 20
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 21
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 22
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 23
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 24
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 25
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 26
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 27
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 28
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 29
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 30
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 31
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 32
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 33
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 34
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 35
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 36
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 37
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 38
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 39
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 40
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 41
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 42
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 43
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 44
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 45
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 46
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 47
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 48
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 49
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 50
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 51
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 52
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 53
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 54
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 55
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 56
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 57
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 58
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 59
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 60
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 61
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 62
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 63
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 64
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 65
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 66
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 67
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 68
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 69
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 70
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 71
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 72
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 73
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 74
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 75
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 76
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 77
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 78
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 79
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 80
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 81
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 82
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 83
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 84
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 85
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 86
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 87
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 88
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 89
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 90
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 91
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 92
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 93
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 94
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 95
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 96
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 97
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 98
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 99
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 100
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 101
add
pop pointer 1
pop that 0
push constant 2
push local 0
push constant 102
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 103
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 104
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 105
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 106
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 107
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 108
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 109
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 110
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 111
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 112
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 113
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 114
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 115
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 116
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 117
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 118
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 119
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 120
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 121
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 122
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 123
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 124
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 125
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 126
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 127
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 128
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 129
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 130
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 131
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 132
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 133
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 134
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 135
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 136
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 137
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 138
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 139
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 140
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 141
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 142
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 143
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 144
add
pop pointer 1
pop that 0
push constant 3
push local 0
push constant 145
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 146
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 147
add
pop pointer 1
pop that 0
push constant 0
push local 0
push constant 148
add
pop pointer 1
pop that 0
push constant 4
push local 0
push constant 149
add
pop pointer 1
pop that 0
goto END_IF4
label ELSE4
push argument 0
push constant 100
eq
not
if-goto END_IF5
call Map_maker.make 0
pop local 0
label END_IF5
label END_IF4
label END_IF3
label END_IF2
label END_IF1
label END_IF0
push local 0
call Map.new 1
return
