function Scalable.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Scalable.draw 5
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 3
push constant 1
pop local 2
push constant 1
neg
call Screen.setColor 1
pop temp 0
label WHILE0
push local 0
push this 1
lt
not
if-goto END_WHILE0
push constant 0
pop local 1
label WHILE1
push local 1
push this 0
lt
not
if-goto END_WHILE1
push local 2
push this 3
push local 3
add
pop pointer 1
push that 0
and
push constant 0
eq
not
not
if-goto END_IF0
push local 1
push this 2
call Math.multiply 2
push argument 1
add
push local 0
push this 2
call Math.multiply 2
push argument 2
add
push local 1
push constant 1
add
push this 2
call Math.multiply 2
push argument 1
add
push constant 1
sub
push local 0
push constant 1
add
push this 2
call Math.multiply 2
push argument 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label END_IF0
push local 2
push constant 0
lt
not
if-goto ELSE1
push constant 1
pop local 2
push local 3
push constant 1
add
pop local 3
goto END_IF1
label ELSE1
push local 2
push local 2
add
pop local 2
label END_IF1
push local 1
push constant 1
add
pop local 1
goto WHILE1
label END_WHILE1
push local 0
push constant 1
add
pop local 0
goto WHILE0
label END_WHILE0
push constant 0
return
