function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 1
push argument 0
pop this 2
push this 2
push constant 0
lt
not
if-goto END_IF37
push constant 14
call Sys.error 1
pop temp 0
push pointer 0
return
label END_IF37
push this 2
push constant 0
eq
not
not
if-goto END_IF38
push this 2
call Memory.alloc 1
pop this 0
label END_IF38
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
not
not
if-goto END_IF39
push this 0
call Memory.deAlloc 1
pop temp 0
label END_IF39
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 1
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
lt
not
not
if-goto END_IF40
push constant 15
call Sys.error 1
pop temp 0
push constant 0
return
label END_IF40
push this 0
push argument 1
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
lt
not
not
if-goto END_IF41
push constant 16
call Sys.error 1
pop temp 0
push constant 0
return
label END_IF41
push argument 2
push this 0
push argument 1
add
pop pointer 1
pop that 0
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 1
push this 2
lt
not
not
if-goto END_IF42
push constant 17
call Sys.error 1
pop temp 0
push pointer 0
return
label END_IF42
push argument 1
push this 0
push this 1
add
pop pointer 1
pop that 0
push this 1
push constant 1
add
pop this 1
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
not
not
if-goto END_IF43
push constant 18
call Sys.error 1
pop temp 0
push constant 0
return
label END_IF43
push this 1
push constant 1
sub
pop this 1
push constant 0
return
function String.intValue 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 0
push constant 0
add
pop pointer 1
push that 0
push constant 45
eq
not
if-goto END_IF44
push constant 1
neg
pop local 2
push constant 1
pop local 0
label END_IF44
push constant 0
pop local 1
label WHILE13
push local 0
push this 1
lt
not
if-goto END_WHILE13
push local 1
push constant 10
call Math.multiply 2
push this 0
push local 0
add
pop pointer 1
push that 0
push constant 48
sub
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE13
label END_WHILE13
push local 2
not
if-goto END_IF45
push local 1
neg
return
label END_IF45
push local 1
return
function String.setInt 3
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
not
if-goto END_IF46
push constant 48
push this 0
push constant 0
add
pop pointer 1
pop that 0
push constant 1
pop this 1
push constant 0
return
label END_IF46
push argument 1
push constant 0
lt
push argument 1
neg
push constant 0
lt
and
not
if-goto END_IF47
push constant 45
push this 0
push constant 0
add
pop pointer 1
pop that 0
push constant 50
push this 0
push constant 1
add
pop pointer 1
pop that 0
push constant 49
push this 0
push constant 2
add
pop pointer 1
pop that 0
push constant 52
push this 0
push constant 3
add
pop pointer 1
pop that 0
push constant 55
push this 0
push constant 4
add
pop pointer 1
pop that 0
push constant 52
push this 0
push constant 5
add
pop pointer 1
pop that 0
push constant 56
push this 0
push constant 6
add
pop pointer 1
pop that 0
push constant 51
push this 0
push constant 7
add
pop pointer 1
pop that 0
push constant 54
push this 0
push constant 8
add
pop pointer 1
pop that 0
push constant 52
push this 0
push constant 9
add
pop pointer 1
pop that 0
push constant 56
push this 0
push constant 10
add
pop pointer 1
pop that 0
push constant 11
pop this 1
push constant 0
return
label END_IF47
push constant 0
pop this 1
push constant 0
pop local 0
push argument 1
push constant 0
lt
not
if-goto END_IF48
push constant 45
push this 0
push constant 0
add
pop pointer 1
pop that 0
push argument 1
neg
pop argument 1
push constant 1
pop local 0
push constant 1
pop this 1
label END_IF48
label WHILE14
push argument 1
push constant 0
eq
not
not
if-goto END_WHILE14
push argument 1
push constant 10
call Math.divide 2
pop local 2
push argument 1
push local 2
push constant 10
call Math.multiply 2
sub
push constant 48
add
push this 0
push this 1
add
pop pointer 1
pop that 0
push local 2
pop argument 1
push this 1
push constant 1
add
pop this 1
goto WHILE14
label END_WHILE14
push this 1
push constant 1
sub
pop local 1
label WHILE15
push local 0
push local 1
lt
not
if-goto END_WHILE15
push this 0
push local 0
add
pop pointer 1
push that 0
pop local 2
push this 0
push local 1
add
pop pointer 1
push that 0
push this 0
push local 0
add
pop pointer 1
pop that 0
push local 2
push this 0
push local 1
add
pop pointer 1
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
sub
pop local 1
goto WHILE15
label END_WHILE15
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
